{% extends "base.html" %}

{% block content %}

<h1>Search</h1>

<form method="GET">
    <input type="text"
       name="query"
       placeholder="Search by name..."
       value="{{ query }}">

    <button type="submit">Search</button>
</form>

<hr>

<h2>Users</h2>

<table border="1">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Role</th>
</tr>

{% for user in users %}
<tr>
    <td>{{ user.id }}</td>
    <td>{{ user.name }}</td>
    <td>{{ user.role }}</td>
</tr>
{% endfor %}
</table>

<br>

<h2>Treks</h2>

<table border="1">
<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Location</th>
</tr>

{% for trek in treks %}
<tr>
    <td>{{ trek.id }}</td>
    <td>{{ trek.trek_name }}</td>
    <td>{{ trek.location }}</td>
</tr>
{% endfor %}
</table>

{% endblock %}